<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="{{ csrf_token }}">
    <title>Numerical Methods</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <img src="{% static 'calculator_image.jpg' %}" alt="Logo" style="height: 40px;">
      
        <div class="text-center">
            <h1>Numerical Methods</h1>
        </div>

        <div>
            <button id="graph_function" class = "btn">Graph function</button>
        </div>
      
        <div class="collapse navbar-collapse" id="navbarMenu">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Root methods
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                    <button id="show_incremental_search_method_form" class = "btn">Incremental_search</button>
                    <div class="dropdown-divider"></div>
                    <button id="show_bisection_method_form" class = "btn">Bisection</button>
                    <div class="dropdown-divider"></div>
                    <button id="show_regla_falsa_method_form" class = "btn">Regla Falsa</button>
                    <div class="dropdown-divider"></div>
                    <button id="show_punto_fijo_method_method_form" class = "btn">Punto fijo</button>
                    <div class="dropdown-divider"></div>
                    <button id="show_newton_method_form" class = "btn">Newton</button>
                    <div class="dropdown-divider"></div>
                    <button id="show_secant_method_form" class = "btn">Secant</button>
                    <div class="dropdown-divider"></div>
                    <button id="show_multiple_roots_method_form" class = "btn">Multiple roots</button>
                </div>                
              </li>
            </ul>
        </div>
        <div class="collapse navbar-collapse" id="navbarMenu">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Direct methods
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                    <button id="show_gaussian_simple_elimination_method_form" class = "btn">Gaussian simple elimination</button>
                    <div class="dropdown-divider"></div>
                    <button id="show_GE_partial_pivoting_method_form" class = "btn">GS elimination with partial pivoting</button>
                    <div class="dropdown-divider"></div>
                    <button id="show_GE_total_pivoting_method_form" class = "btn">GS elimination with total pivoting</button>
                </div>                
              </li>
            </ul>
        </div>
      </nav>
    <div class="container">

        {% comment %} Show Incremental search method form {% endcomment %}
        <form id="incremental_search_method_form" style="display: none;">
            {% csrf_token %}
            <div class="form-group">
                <label for="function_incremental_search_method">Enter a mathematical function::</label>
                <input type="text" id="function_incremental_search_method" name="function_incremental_search_method" placeholder="e.g. 2*x**2 + 3*x + 1" required>
            </div>
            <div>
                <label for="x0_incremental_search_method">Enter an initial value</label>
                <input type="text" id="x0_incremental_search_method" name="x0_incremental_search_method" placeholder="initial x0" required>
            </div>
            <div class = "form-group">
                <label for="delta_incremental_search_method">Enter △:</label>
                <input type="text" id="delta_incremental_search_method" name="delta_incremental_search_method" placeholder="Enter △" required>
            </div>
            <div class = "form-group">
                <label for="N_incremental_search_method">Enter a number for max iterations: (the default is 100)</label>
                <input type="text" id="N_incremental_search_method" name="N_incremental_search_method" placeholder="100" required>
            </div>
            <button type="submit" class="btn btn-primary">Show Graph</button>
        </form>

        {% comment %} Show Bisection method form {% endcomment %}
        <form id="bisection_method_form" style="display: none;">
            {% csrf_token %}
            <div class="form-group">
                <label for="a_bisection_method">Enter the start of the interval:</label>
                <input type="text" id="a_bisection_method" name="a_bisection_method" placeholder="start of the interval" required>
            </div>
            <div class = "form-group">
                <label for="b_bisection_method">Enter the end of the interval:</label>
                <input type="text" id="b_bisection_method" name="b_bisection_method" placeholder="end of the interval" required>
            </div>
            <div>
                <label for="tolerance_bisection_method">Enter tolerance:</label>
                <input type="text" id="tolerance_bisection_method" name="tolerance_bisection_method" placeholder="tolerance" required>
            </div>
            <div class = "form-group">
                <label for="function_bisection_method">Enter a mathematical function:</label>
                <input type="text" id="function_bisection_method" name="function_bisection_method" placeholder="e.g. 2*x**2 + 3*x + 1" required>
            </div>
            <div class = "form-group">
                <label for="N_bisection_method">Enter a number for max iterations: (the default is 100)</label>
                <input type="text" id="N_bisection_method" name="N_bisection_method" placeholder="100" required>
            </div>
            <button type="submit" class="btn btn-primary">Show Graph</button>
        </form>

        {% comment %} Show regla falsa method form {% endcomment %}
        <form id="regla_falsa_method_form" style="display: none;">
            {% csrf_token %}
            <div class = "form-group">
                <label for="function_regla_falsa_form">Enter a mathematical function:</label>
                <input type="text" id="function_regla_falsa_form" name="function_regla_falsa_form" placeholder="e.g. 2*x**2 + 3*x + 1" required>
            </div>
            <div class = "form-group">
                <label for="a_regla_falsa_form_method">Enter the start of the interval:</label>
                <input type="text" id="a_regla_falsa_form_method" name="a_regla_falsa_form_method" placeholder="start of the interval" required>
            </div>
            <div class = "form-group">
                <label for="b_regla_falsa_form_method">Enter the end of the interval:</label>
                <input type="text" id="b_regla_falsa_form_method" name="b_regla_falsa_form_method" placeholder="end of the interval" required>
            </div>
            <div>
                <label for="tolerance_regla_falsa_method">Enter tolerance:</label>
                <input type="text" id="tolerance_regla_falsa_method" name="tolerance_regla_falsa_method" placeholder="tolerance" required>
            </div>
            <div class = "form-group">
                <label for="N_regla_falsa_method">Enter a number for max iterations: (the default is 100)</label>
                <input type="text" id="N_regla_falsa_method" name="N_regla_falsa_method" placeholder="100" required>
            </div>
            <button type="submit" class="btn btn-primary">Show Graph</button>
        </form>

        {% comment %} Show graph function form {% endcomment %}
        <form id="graph_function_form" style="display: none;">
            {% csrf_token %}
            <div class="form-group">
                <label for="function_graph_function">Enter a mathematical function:</label>
                <input type="text" id="function_graph_function" name="function_graph_function" placeholder="e.g. 2*x**2 + 3*x + 1" required>
            </div>
            <button type="submit" class="btn btn-primary">Show Graph</button>
        </form>

        {% comment %} Show punto fijo method form {% endcomment %}
        <form id="punto_fijo_method_form" style="display: none;">
            {% csrf_token %}
            <div class="form-group">
                <label for="f_punto_fijo_method">Enter a mathematical function f:</label>
                <input type="text" id="f_punto_fijo_method" name="f_punto_fijo_method" placeholder="e.g. 2*x**2 + 3*x + 1" required>
            </div>
            <div class="form-group">
                <label for="g_punto_fijo_method">Enter a mathematical function g for f:</label>
                <input type="text" id="g_punto_fijo_method" name="g_punto_fijo_method" placeholder="e.g. 2*x**2 + 3*x + 1" required>
            </div>
            <div>
                <label for="x0_punto_fijo_method">Enter an initial value</label>
                <input type="text" id="x0_punto_fijo_method" name="x0_punto_fijo_method" placeholder="initial x0" required>
            </div>
            <div class = "form-group">
                <label for="tolerance_punto_fijo_method">Enter tolerance:</label>
                <input type="text" id="tolerance_punto_fijo_method" name="tolerance_punto_fijo_method" placeholder="Enter tolerance" required>
            </div>
            <div class = "form-group">
                <label for="N_punto_fijo_method">Enter a number for max iterations: (the default is 100)</label>
                <input type="text" id="N_punto_fijo_method" name="N_punto_fijo_method" placeholder="100" required>
            </div>
            <button type="submit" class="btn btn-primary">Show Graph</button>
        </form>

        {% comment %} Show Newton method form {% endcomment %}
        <form id="newton_method_form" style="display: none;">
            {% csrf_token %}
            <div class="form-group">
                <label for="function_newton_method">Enter a mathematical function:</label>
                <input type="text" id="function_newton_method" name="function_newton_method" placeholder="e.g. 2*x**2 + 3*x + 1" required>
            </div>
            <div class="form-group">
                <label for="x0_newton_method">Enter inicial value: </label>
                <input type="text" id="x0_newton_method" name="x0_newton_method" placeholder="e.g. 2*x**2 + 3*x + 1" required>
            </div>
            <div class="form-group">
                <label for="tolerance_newton_method">Enter tolerance: </label>
                <input type="text" id="tolerance_newton_method" name="tolerance_newton_method" placeholder="e.g. 2*x**2 + 3*x + 1" required>
            </div>
            <button type="submit" class="btn btn-primary">Show Graph</button>
        </form>

        {% comment %} Show secant method form {% endcomment %}
        <form id="secant_method_form" style="display: none;">
            {% csrf_token %}
            <div class="form-group">
                <label for="function_secant_method">Enter a mathematical function:</label>
                <input type="text" id="function_secant_method" name="function_secant_method" placeholder="e.g. 2*x**2 + 3*x + 1" required>
            </div>
            <div class="form-group">
                <label for="x0_secant_method">Enter the first initial value:</label>
                <input type="text" id="x0_secant_method" name="x0_secant_method" placeholder="Enter x0" required>
            </div>
            <div class="form-group">
                <label for="x1_secant_method">Enter the second initial value:</label>
                <input type="text" id="x1_secant_method" name="x1_secant_method" placeholder="Enter x1" required>
            </div>
            <div>
                <label for="tolerance_secant_method">Enter tolerance:</label>
                <input type="text" id="tolerance_secant_method" name="tolerance_secant_method" placeholder="Enter tolerance" required>
            </div>
            <div class = "form-group">
                <label for="N_secant_method">Enter a number for max iterations: (the default is 100)</label>
                <input type="text" id="N_secant_method" name="N_secant_method" placeholder="100" required>
            </div>
            <button type="submit" class="btn btn-primary">Show Graph</button>
        </form>

        {% comment %} Show multiple roots method form {% endcomment %}
        <form id="multiple_roots_method_form" style="display: none;">
            {% csrf_token %}
            <div class="form-group">
                <label for="function_mulitple_roots_method">Enter a mathematical function:</label>
                <input type="text" id="function_mulitple_roots_method" name="function_mulitple_roots_method" placeholder="e.g. 2*x**2 + 3*x + 1" required>
            </div>
            <div class="form-group">
                <label for="x0_multiple_roots_method">Enter an initial value:</label>
                <input type="text" id="x0_multiple_roots_method" name="x0_multiple_roots_method" placeholder="Enter x0" required>
            </div>
            <div>
                <label for="tolerance_multiple_roots_method">Enter tolerance:</label>
                <input type="text" id="tolerance_multiple_roots_method" name="tolerance_multiple_roots_method" placeholder="Enter tolerance" required>
            </div>
            <div class = "form-group">
                <label for="N_multiple_roots_method">Enter a number for max iterations: (the default is 100)</label>
                <input type="text" id="N_multiple_roots_method" name="N_multiple_roots_method" placeholder="100" required>
            </div>
            <button type="submit" class="btn btn-primary">Show Graph</button>
        </form>

        {% comment %} Show gaussian simple elimination method form {% endcomment %}
        <form id="gaussian_simple_elimination_method_form" style="display: none;">
            {% csrf_token %}
            <div class="form-group">
                <label for="A_gaussian_simple_elimination_method">Enter matrix nxn :</label>
                <input type="text" id="A_gaussian_simple_elimination_method" name="A_gaussian_simple_elimination_method" placeholder="e.g. [1,2,3],[6,2,1],[5,3,4]" required>
            </div>
            <div class="form-group">
                <label for="b_gaussian_simple_elimination_method">Enter vector b:</label>
                <input type="text" id="b_gaussian_simple_elimination_method" name="b_gaussian_simple_elimination_method" placeholder="e.g. [2,3,4]" required>
            </div>
            <button type="submit" class="btn btn-primary">Show Graph</button>
        </form>

        {% comment %} Show gaussian elimination with partial pivoting method form {% endcomment %}
        <form id="GE_partial_pivoting_method_form" style="display: none;">
            {% csrf_token %}
            <div class="form-group">
                <label for="A_GE_partial_pivoting_method">Enter matrix nxn :</label>
                <input type="text" id="A_GE_partial_pivoting_method" name="A_GE_partial_pivoting_method" placeholder="e.g. [1,2,3],[6,2,1],[5,3,4]" required>
            </div>
            <div class="form-group">
                <label for="b_GE_partial_pivoting_method">Enter vector b:</label>
                <input type="text" id="b_GE_partial_pivoting_method" name="b_GE_partial_pivoting_method" placeholder="e.g. [2,3,4]" required>
            </div>
            <button type="submit" class="btn btn-primary">Show Graph</button>
        </form>

        {% comment %} Show gaussian elimination with total pivoting method form {% endcomment %}
        <form id="GE_total_pivoting_method_form" style="display: none;">
            {% csrf_token %}
            <div class="form-group">
                <label for="A_GE_total_pivoting_method">Enter matrix nxn :</label>
                <input type="text" id="A_GE_total_pivoting_method" name="A_GE_total_pivoting_method" placeholder="e.g. [1,2,3],[6,2,1],[5,3,4]" required>
            </div>
            <div class="form-group">
                <label for="b_GE_total_pivoting_method">Enter vector b:</label>
                <input type="text" id="b_GE_total_pivoting_method" name="b_GE_total_pivoting_method" placeholder="e.g. [2,3,4]" required>
            </div>
            <button type="submit" class="btn btn-primary">Show Graph</button>
        </form>

        <div id ="result"></div>
        <div id = "graph"></div>
        <div id= "table"></div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/homepage.js' %}"></script>

</body>
</html>

