<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Numerical Methods</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>

    <div class="container">
        <h1>Numerical Methods</h1>
        <form method="GET" action="{% url 'funcion' %}">
            <div class="input-group">
                <label for="function">Enter a mathematical function:</label>
                <input type="text" id="function" name="function" placeholder="e.g. 2*x**2 + 3*x + 1" required>
            </div>
            <button type="submit" class="btn">Show Graph</button>
        </form>
    </div>

</body>
</html>
